/* TODO удалить на проде */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    /* colors */
    --blue-light: #A5BCC3;
    --blue-darker: #4C748B;
    --blue: #5B7E95;
    --accent: #E8E0D5;
    --accent-light: #EDE2CE;
    --accent-white: #F1EAE4;
    --brown-light: #CCC2BB;
    --brown: #847E70;
    --yellow: #C59801;
    --text-color: #645F53;
    --text-color-dark: #322e24;
    --accent-border-footer: #E8E9D5;

    /* fonts */
    --h1: 36px;
    --heading-weight: 400;
    --header-line-height: 1;
    --h2: 24px;
    --h3: 18px;
    --optima: "Optima", sans-serif;
    --montserrat: "Montserrat", sans-serif;
    --common-font-size: 16px;

    /* etc */
    --header-margin-bottom: 30px;
}

@font-face {
	font-family: 'Optima';
	src: url('../fonts/Optima.eot');
	src: local('Optima Cyr'), local('Optima'),
		url('../fonts/Optima.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Optima.woff') format('woff'),
		url('../fonts/Optima.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--blue-darker);
}

body {
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: var(--common-font-size);

    background-color: var(--accent);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-family: var(--optima);
    font-weight: var(--heading-weight);
    text-transform: uppercase;
    color: var(--brown);
}

@media (min-width: 1800px) {
    .container {
        max-width: 1776px;
    }
}

img, svg {
    max-width: 100%;
}

.header {
    padding: 25px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--brown);
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.header-item-center {
    display: flex;
    justify-content: center;
}

.header-item-right {
    display: flex;
    justify-content: flex-end;
}

.header-logo img {
    max-width: 319px;
}

.header-nav {
    display: flex;
    grid-column-gap: 24px;
}

.header-nav-link {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.header-nav-link:hover {
    color: inherit
}

.header-nav-link i {
    display: inline-block;
    margin-left: 3px;
    color: var(--blue);
    transition: all .2s ease;
}

.header-nav-item.active .header-nav-link {
    color: var(--blue);
}

.header-btns {
    display: flex;
    grid-column-gap: 24px;
}

.header-btn i {
    color: var(--text-color);
}

.header-btn {
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
    font-size: 26px;
    text-decoration: none;
}

.header-cart-counter {
    display: none;
    border-radius: 50%;
    background-color: var(--blue);
    width: 20px;
    height: 20px;
    color: #fff;
    position: relative;
    font-size: var(--common-font-size);
}

.header-cart-counter::before {
    position: absolute;
    content: attr(data-cart-items-count);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-cart-has-items .header-cart-counter {
    display: inline-block;
}

.home-slider-slide {
    height: 832px;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-slider-slide::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--brown);
    opacity: 0.3;
}

.home-slider-slide > * {
    position: relative;
}

.slider-card {
    width: 378px;
    border-radius: 190px;
    padding: 120px 15px 20px;
    background-color: rgba(232,224,213, 90%);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(3px);
}

.slider-card-title {
    text-transform: uppercase;
    font-family: var(--optima);
    font-size: var(--h1);
    font-weight: var(--heading-weight);
    color: var(--blue);
    line-height: var(--header-line-height);
    margin-bottom: 2rem;
}

.slider-card-desc {
    margin-bottom: 1rem;
}

.slider-card-link {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 1.5rem;
    text-decoration: none;
}

.slider-card-link:hover {
    color: var(--blue);
}

.home-slider-navigation {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    left: 0;
    z-index: 2;
}

.home-nav-item {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--accent);
    border-radius: 50%;
    font-size: 2rem;
    line-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.home-nav-item.swiper-button-disabled {
    opacity: 0;
    z-index: -1;
}

.home-nav-prev {
    left: 24px;
}

.home-nav-next {
    right: 24px;
}

.home-nav-item i {
    color: var(--blue);
}

.home-slider-pagination {
    position: absolute;
    bottom: 0 !important;
    left: 0;
    right: 0;
    z-index: 2;

    background-color: rgba(232, 224, 213, 0.7);
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: var(--blue);
}

.home-slider-block {
    margin-bottom: 35px;
    margin-top: 30px;
}

.header-page {
    margin-bottom: var(--header-margin-bottom);
}

.header-page h2 {
    margin: 0;
    text-align: center;
    color: var(--brown);
}

.product-card {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    margin-bottom: 15px;
}

.product-card:hover {
    color: var(--text-color);
}

.product-card-inner {
    padding: 40px;
    background-color: var(--accent-white);
    position: relative;
    overflow: hidden;
}

.product-card-photo {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.product-card-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.product-card-name {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.show-on-hover {
    opacity: 0;
    transition: all .2s ease-in-out;
}

.product-card:hover .show-on-hover {
    opacity: 1;
}

.product-card-code {
    font-size: 12px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.product-card-fave {
    position: absolute;
    top: 15px;
    right: 15px;
}

.info-flex {
    display: flex;
    justify-content: space-between;
}

.product-card-info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(100, 95, 83, 0.85);
    color: var(--accent);
    transform: translateY(100%);
    transition: all .2s ease-in-out;
}

.product-card:hover .product-card-info {
    transform: translateY(0);
}

.info-price {
    font-family: var(--optima);
    font-weight: 400;
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
}

.icon-ruble {
    line-height: 1;
    position: relative;
    top: -1px;
    color: var(--text-color-dark);
}

.product-card-info .icon-ruble {
    color: var(--accent);
}

/* .info-price i::before {
    color: var(--accent);
} */

.info-flex:first-child .info-price {
    font-size: 20px;
}

.info-flex:last-child .info-price {
    font-size: 12px;
}

.info-flex:last-child .info-price span  {
    text-decoration: line-through;
}

.section-grid {
    position: relative;
    margin-top: -30px;
    padding-top: 30px;
}

.section-grid::before,
.section-grid::after {
    position: absolute;
    content: '';
    background-color: var(--brown);
}

.section-grid::before {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
}

.info-name {
    font-size: 12px;
    font-weight: 500;
}

.row-grid {
    overflow: hidden;
    margin-top: -30px;
    padding-top: 30px;
}

.product-grid-col {
    position: relative;
}

.product-grid-col::before {
    top: -30px;
    bottom: 15px;
    right: 0;

    position: absolute;
    content: '';
    width: 1px;
    background-color: var(--brown);
}

.product-grid-col::after {
    left: -500px;
    right: -500px;
    bottom: 15px;

    position: absolute;
    content: '';
    height: 1px;
    background-color: var(--brown);
}

.product-grid-col:nth-of-type(4n)::before {
    opacity: 0;
}

.section-products {
    margin-bottom: 35px;
}

.section-bordered {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(--brown);
    height: 100%;
}

.section-info {
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-bordered .header-page {
    margin-bottom: 0;
}

.section-info-content {
    max-width: 540px;
    padding: 50px 30px;
}

.section-title {
    font-size: var(--h2);
    text-transform: uppercase;
    font-family: var(--optima);
    margin-bottom: 2rem;
    color: var(--brown);
}

.section-info-content p {
    color: var(--text-color-dark);
}

.section-advantage {
    margin-top: 35px;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--brown);
}

.advantage-card {
    padding: 20px 80px;
    text-align: center;
}

.advantage-col:not(:last-child) {
    border-right: 1px solid var(--brown);
}

.heading-2 {
    font-size: var(--h2);
    font-weight: var(--heading-weight);
    font-family: var(--optima);
    text-transform: uppercase;
    color: var(--brown);
}

.advantage-title {
    margin-left: -80px;
    margin-right: -80px;
    margin-bottom: 1rem;
    color: var(--brown);
}

.advantage-desc {
    color: var(--text-color-dark);
}

.section-recommend {
    margin-top: 35px;
}

.row-bordered {
    border: 1px solid var(--brown);
}

.row-bordered .header-page {
    margin-top: -1px;
}

.product-recommend {
    height: 100%;
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 1px solid var(--brown);

    padding: 34px 0;
}

.product-recommend-inner {
    width: 417px;
    height: 770px;
    padding: 150px 0;
    background-color: var(--accent);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    border-radius: 200px;
    border: 1px solid var(--blue);
}

.slider-card-photo {
    position: relative;
    max-width: 151px;
}

.slider-card-photo::before,
.slider-card-photo::after {
    position: absolute;
    content: '';
    top: 45.6%;
    height: 1px;
    width: 250px;
    background-color: var(--blue);
}

.slider-card-photo::before {
    left: -250px;
}

.slider-card-photo::after {
    right: -250px;
}

.product-detail-content {
    padding: 50px 80px;
    color: var(--text-color-dark);
}

.heading-3 {
    font-family: var(--optima);
    font-weight: var(--heading-weight);
    font-size: var(--h3);
    text-transform: uppercase;
    color: var(--brown);
}

.product-detail-type {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.product-detail-desc {
    margin: 35px 0;
}

.product-detail-code {
    text-align: right;
    color: var(--text-color);
}

.product-detail-price {
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
}

.product-price {
    font-family: var(--optima);
    font-size: 18px;
}

.product-detail-label {
    color: var(--brown);
}

.product-detail-pcs {
    margin: 35px 0;
}

.product-actions {
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    margin-top: 5px;
}

.product-add-count {
    display: flex;
    width: 328px;
    border: 1px solid var(--brown);
    justify-content: space-between;
    box-shadow: inset 2px 2px 4px rgba(132, 126, 112, 0.2);
}

.product-add {
    flex: 0 0 33px;
    max-width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
}

.product-add:hover {
    background-color: transparent !important;
}

.product-add::after {
    display: none !important;
}

.product-add i {
    color: var(--text-color);
}

.product-add-counter {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    border: none;
    text-align: center;
    height: auto;
    font-weight: 400;
    color: inherit;
}

.product-action-btn {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}

.product-action-btn i {
    color: var(--text-color);
}

.btn-share {
    font-size: 22px;
}

.product-add-actions {
    margin: 30px 0;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    text-decoration: none;

    display: inline-block;
    padding: 13px 30px;
    border: 1px solid var(--brown);
    background-color: var(--brown);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--accent);
    cursor: pointer;
}

.button:hover {
    color: var(--accent);
}

.button-bordered {
    background-color: transparent;
    color: var(--brown);
}

.button-bordered:hover {
    background-color: var(--brown);
    color: var(--accent);
}

.button-block {
    display: block;
    text-align: center;
}

.ship-method {
    margin-top: 20px;
    display: flex;
    border: 1px solid var(--brown);
}

.ship-method-item {
    flex: 1;
    text-align: center;
    
}

.ship-method-checkbox {
    display: none;
}

.ship-method-item:first-child {
    border-right: 1px solid var(--brown);
}

.ship-method-label {
    width: 100%;
    cursor: pointer;
    padding: 5px;
}

.ship-method-checkbox:checked + .ship-method-label {
    background-color: var(--brown);
    color: var(--accent);
}

.footer {
    margin-top: 35px;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: var(--brown);
    color: var(--accent);
}

.footer-logo {
    text-align: center;
    margin-bottom: 25px;
}

.footer-logo img {
    max-width: 47px;
}

.footer-col-flex {
    align-items: flex-start;
}

.footer-col-content {
    height: 100%;
    border-width: 0 1px 1px 0;
    border-color: var(--accent-border-footer);
    border-style: solid;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}

.footer-col-head {
    padding: 15px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: var(--accent-border-footer);
    color: var(--accent);
    text-align: center;
}

.row-footer {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--accent-border-footer);
}

.table-footer {
    width: 100%;
}

.row-footer-head {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--accent-border-footer);
}

.footer-col-flex {
    display: flex;
    height: 100%;
}

.footer-col-flex .footer-col-content {
    flex: 1;
    height: 100%;
}

.footer-link {
    color: var(--accent);
    text-decoration: none;
}

.footer-link:hover {
    color: var(--accent);
}

.socials {
    display: flex;
    justify-content: center;
    grid-column-gap: 25px;
}


.socials-link {
    display: flex;
    font-size: 28px;
    color: var(--accent);
    text-decoration: none;
}

.footer-socials {
    margin-top: 15px;
}

.socials-link i::before {
    color: var(--accent);
}

.breadcrumbz {
    padding: 15px 0;
    border-bottom: 1px solid var(--brown);
}

.breadcrumbz-list {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 30px;
}

.breadcrumbz-link {
    color: var(--brown);
    text-decoration: none;
    font-size: 12px;
}

.breadcrumbz-link:hover {
    color: var(--brown);
    text-decoration: underline;
}

.breadcrumbz-item {
    position: relative;
}

.breadcrumbz-item:not(:last-child)::after {
    position: absolute;
    content: "";
    top: 6px;
    bottom: 6px;
    right: -15px;
    width: 1px;
    height: 15px;
    background-color: var(--brown)
}

.product-detail-title {
    text-transform: none;
    font-size: 36px;
    margin-bottom: .5rem;
}

.product-slider-wrapper {
    display: flex;
    padding: 25px 25px 0 25px;
    border-width:0 1px 1px 0;
    border-style: solid;
    border-color: var(--brown);
    background-color:var(--accent-white);
    grid-column-gap: 15px;
    height: 100%;
}

.product-slide-photo {
    padding-bottom: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35%;
}

.product-slider-thumbnails {
    flex: 0 0 109px;
    max-width: 109px;
    height: 700px;
}

.product-slider-thumbnails .swiper-slide {
    cursor: pointer;
}

.product-slider-thumbnails .product-slide-photo {
    background-size: 50%;
    border: 1px solid rgba(132, 126, 112, 0.5);
}

.product-slider-thumbnails .swiper-slide {
    opacity: 0.5;
    height: 109px !important;
}

.product-slider-thumbnails .swiper-slide-thumb-active {
    opacity: 1;
}

.product-slider-main {
    flex: 1;
    height: 700px;
}

.slider-relative {
    position: relative;
}

.product-slider-pagination {
    position: absolute;
    bottom: 0 !important;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.header-page-flex {
    display: flex;
}

.header-page-tab {
    flex: 1;
    opacity: 0.5;
}

.header-page-tab.active {
    opacity: 1;
}

.product-detail-info-block {
    border-right: 1px solid var(--brown);
}

.product-detail-info {
    padding: 100px;
}

.product-detail-props-item {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--brown);
}

.detail-more {
    margin-top: 35px;
}

.detail-more-content {
    border-bottom: 1px solid var(--brown);
}

.more-slider {
    margin-top: -30px;
    padding-top: 30px;
}

.more-slider .product-card::after {
    position: absolute;
    content: '';
    top: -30px;
    bottom: -15px;
    right: -15px;
    width: 1px;
    background-color: var(--brown);
}

.detail-more-navigation {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--brown);
}

.detail-more-navigation-inner {
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
    padding: 10px 0;
}

.more-nav-item {
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.breadcrumbz-custom {
    background-image: url(../images/bc_pattern.png);
    background-color: var(--accent-white);
}

.breadcrumbz-title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.catalog-sider {
    padding-left: 84px;
    flex: 0 0 520px;
    max-width: 520px;
}

.catalog-main {
    padding-right: 84px;
    flex: 1;
}

.catalog-flex {
    display: flex;
    margin-top: -1px;
}

.catalog-btn {
    padding: 20px 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.sider-head-filter {
    display: flex;
    align-items: center;
    grid-column-gap: 8px;
}

.sider-head-filter .icon-filter {
    font-size: 104%;
}

.sider-head-filter .icon-plus {
    font-size: 84%;
}

.sider-head-filter i {
    color: var(--blue);
}

.catalog-main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-count-total {
    font-size: 14px;
}

.catalog-smart-filter {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: var(--brown);
    height: calc(100% - 63px);
}

.catalog-list {
    padding-left: 0;
}

.catalog-sider-head {
    margin-left: -84px;
    padding-left: 84px;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--brown);
}

.catalog-main-head {
    margin-right: -84px;
    padding-right: 84px;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--brown);
}

.catalog-pagination {
    display: flex;
    justify-content: center;
    grid-column-gap: 15px;
    padding: 15px;
    border-bottom: 1px solid var(--brown);
    border-top: 1px solid var(--brown);
    margin-top: -1px;
}

.catalog-pagination-item {
    color: var(--text-color);
    text-decoration: none;
}

.col-catalog-product {
    padding: 15px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: var(--brown);
}

.accord-head {
    display: flex;
}

.accord-title {
    flex: 1;
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 500;
}

.accord-icon {
    flex: 0 0 16px;
    max-width: 16px;
    height: 16px;
}

.accord-head {
    padding: 22px 0;
}

.accord-body > div {
    padding: 0 0 22px;
}

.accord-icon {
    transform: rotate(135deg) translate(1px, -4px);
    transition: all .15s ease-in-out
}

.accord-head.collapsed .accord-icon {
    transform: rotate(0deg);
}

.accord-head.collapsed .accord-title {
    color: var(--text-color);
}

.accord-item {
    border-bottom: 1px solid var(--brown);
}

.header-drop {
    position: relative;
    display: none;
}

.header-drop-inner {
    padding: 30px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--accent);
    z-index: 4;
    border-bottom: 1px solid var(--brown);
    box-shadow: 0 15px 15px 0 rgba(0,0,0, .2);
}

.header-drop-block {
    border: 1px solid var(--brown);
    padding: 20px 0 20px 20px;
    display: flex;
}

.header-drop-content {
    flex: 1;
}

.header-drop-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.header-drop-nav:last-child {
    margin-bottom: 0;
}

.header-nav-type {
    text-transform: uppercase;
    font-family: var(--optima);
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    cursor: pointer;
}

.header-nav-type.active {
    color: var(--blue);
}

.header-nav-type i {
    font-size: 10px;
}

.header-drop-side {
    flex: 0 0 320px;
    max-width: 320px;
}

.header-drop-content {
    flex: 0 0 calc(100% - 320px);
    max-width: calc(100% - 320px);
    height: 400px;
}

.header-nav-list {
    display: none;
    margin: 0;
    padding: 0 0 0 21px;
    list-style-type: none;
}

.header-nav-href {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 500;
    padding: 5px 0;
    cursor: pointer;
}

.header-nav-href:hover {
    color: var(--blue);
}

.header-nav-href::after {
    content: "\e913";
    font-family: "icomoon";
    font-size: 12px;
    color: var(--blue);
    width: 12px;
    height: 12px;
    line-height: 12px;
}

.header-slider {
    height: 100%;
}

.header-category {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.header-category:hover {
    color: var(--blue);
}

.header-category-photo {
    padding: 170px 0;
    background-color: var(--accent-white);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 150px;
    margin-bottom: 2rem;
    border: 1px solid var(--blue-light);
}

.header-slider-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 85px;
    /* background-color: rgba(232, 224, 213, .4); */
    z-index: 2;
}

.open_catalog.active i {
    transform: rotate(135deg);
}

/* 16.08.2022 */
.content-flex {
    display: flex;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--brown);
    box-shadow: 0 -1px 0 0 var(--brown);
}

.content-side {
    flex: 0 0 35%;
    max-width: 35%;
    border-right: 1px solid var(--brown);
}

.content-body {
    flex: 0 0 65%;
    max-width: 65%;
}

.side-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.side-nav-item:not(:last-child) {
    border-bottom: 1px solid var(--brown);
}

.side-nav-link {
    padding: 35px 25px 35px 84px;

    font-family: var(--optima);
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--brown);
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-nav-link:hover {
    color: var(--text-color);
}

.side-nav-link i {
    color: var(--blue);
}

.about-row {
    border-bottom: 1px solid var(--brown);
    padding: 35px 20px;
}

.about-row:last-child {
    border: none;
    columns: 2;
}

.about-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../images/arabesque-pattern.png);
    background-color: rgba(91, 126, 149, 0.8);
    color: var(--accent);
    text-transform: uppercase;
    font-family: var(--optima);
    font-size: 18px;
}

.text-content h2 {
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 500;
    margin-top: 2rem;
    position: relative;
    padding-left: 20px;
    color: inherit;
}

.text-content h2::before {
    content: "\e91a" ;
    font-family: "icomoon";
    font-size: 10px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px;
    display: flex;
    align-items: center;
    color: var(--blue);
}

.content-body {
    color: var(--text-color-dark);
}

.news-nav-link {
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color);
}

.news-nav-date {
    font-family: var(--montserrat);
    font-size: 16px;
    text-transform: none;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.active .news-nav-link {
    color: var(--text-color-dark);
}

.news-content {
    padding: 25px 85px 25px 25px;
}

.news-content img {
    margin-bottom: 2rem;
}

.news-share {
    color: var(--brown);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-column-gap: 10px;
}

.share-link-btn {
    text-decoration: none;
    color: var(--text-color);
    font-size: 28px;
    display: inline-block;
    margin-right: 5px;
}

.share-link-btn:hover {
    color: var(--text-color-dark);
}

.plus-x {
    display: block;
    transform: rotate(135deg);
    color: var(--blue);
    font-size: 18px;
}

.icon-back {
    color: var(--blue);
    font-size: 28px;
}

.history-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 84px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 35%;
    text-transform: uppercase;
    color: var(--blue);
    text-decoration: none;
    font-family: var(--optima);
    font-size: 18px;
}

.history-back:hover {
    color: var(--blue);
}

.history-back-col {
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
}

.active .side-nav-link:not(.news-nav-link) {
    color: var(--blue)
}

.ship-content {
    padding: 25px;
}

em {
    font-style: normal;
    color: var(--brown);
    margin-bottom: 5px;
    display: inline-block;
}

.text-content ul li::marker {
    color: var(--blue);
}

.text-content ul,
.text-content ol {
    padding-left: 19px;
}

.text-content ol li {
    padding-left: 5px;
    margin-bottom: 5px;
}

.ship-col:first-child {
    padding-right: 200px;
}

.ship-col h2 {
    font-family: var(--optima);
    line-height: 1.5;
    color: var(--brown);
    font-size: 18px;
}

.ship-col h2::before {
    top: 5px;
}

.contact-content {
    padding: 25px 10px;
    max-width: 70%;
}

.contact-row {
    margin-bottom: 1rem;
}

.contact-form-title {
    font-size: 18px;
}

.input-field {
    border: 1px solid rgba(132, 126, 112, 0.5);
    box-shadow: inset 2px 2px 4px rgba(132, 126, 112, 0.2);
    border-radius: 2px;
    background-color: var(--accent);
    position: relative;
}

.input-field.required::after {
    position: absolute;
    content: "*";
    top: 19px;
    right: 22px;
}

.input-field-element {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
}

.input-field-element::placeholder {
    font-size: 14px;
}

.input-field-textarea,
.input-field-textarea textarea {
    resize: none;
}

.contact-textarea,
.contact-textarea textarea {
    height: 100%;
    resize: none;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    grid-column-gap: 10px;
    cursor: pointer;
}

.checkbox-label {
    font-size: 12px;
    padding-top: 2px;
}

.input-check {
    display: none;
}

.input-check-state {
    width: 18px;
    height: 18px;
    position: relative;
    border: 1px solid var(--brown);
    opacity: 0.5;
    border-radius: 2px;
}

.input-check:checked + .input-check-state {
    background-color: var(--blue);
    border-color: var(--blue);
    opacity: 1;
}

.input-check:checked + .input-check-state::before {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 12px;
    height: 6px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #fff;
    content: '';

    transform: rotate(-45deg)
}

.button-block {
    display: block;
    width: 100%;
}

.form-hint-flex {
    display: flex;
    grid-column-gap: 10px;
    font-size: 12px;
    color: var(--brown);
}

.privacy-content {
    padding: 25px;
}

.cabinet-content {
    padding: 30px 0;
}

.cabinet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cabinet-header a {
    color: var(--blue);
}

.cabinet-header a:hover {
    color: var(--blue);
}

.accordion-title {
    font-size: 24px;
    margin: 0;
}

.accordion-plus {
    color: var(--blue);
    display: block;
    transition: all .5s ease;
    pointer-events: all;
    font-size: 18px;
}

.accordion-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    background-color: var(--accent-white);
    cursor: pointer;
}

.accordion-item {
    margin-bottom: 5px;
    color: inherit;
}

.accordion-item.active .accordion-head {
    pointer-events: none;
}

.accordion-body {
    background-color: var(--accent-white);
    padding: 25px 90px;
}

.accordion-content {
    display: none;
}

.accordion-item.active .accordion-plus {
    transform: rotate(-135deg);
}

.user-info-item {
    display: flex;
}

.table-user {
    width: 100%;
}

.table-user td:first-child {
    white-space: nowrap;
    color: var(--text-color);
    padding-right: 30px;
}

.table-user td {
    vertical-align: top;
    border-bottom: 15px solid var(--accent-white);
    color: var(--text-color-dark);
    padding: 0;
    margin: 0;
}

.user-edit {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.user-edit:hover {
    text-decoration: none;
}

.user-form-row {
    margin-bottom: 40px;
}

.change-password-title {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.user-form-buttons {
    margin-bottom: 2rem;
}

.required-hint {
    font-size: 12px;
}

.input-field-label {
    position: absolute;
    top: calc(100% - 6px);
    left: 1rem;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    display: block;
    padding: 0 10px;
    opacity: 0;
    transform: translateX(15px);
    transition: all .2s ease;
}

.show-label .input-field-label {
    opacity: 1;
    transform: translateX(0);
}

.input-field-label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 7px;
    background-color: var(--accent);
}

.input-field-label span {
    position: relative;
}

.separator {
    padding: 0px 15px;
}

.separator::before {
    content: "|";
}

.table-user a:not([href]) {
    color: var(--blue) !important;
}

.ship-product-price {
    grid-column-gap: 2px;
}

.ship-product-photo {
    padding-bottom: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.ship-product-content {
    font-size: 12px;
    letter-spacing: 0.035em;
    padding-top: 15px;
}

.ship-product-name {
    color: var(--text-color-dark);
    margin-bottom: 3px;
}

.ship-product-props {
    margin-bottom: 3px;
}

.ship-product-price {
    font-size: 18px;
}

.ship-ruble {
    font-size: 15px;
}

.ship-slider-inner {
    margin-top: 30px;
    margin-bottom: 30px;
}

.empty-inner {
    padding: 20px 85px;
    text-align: center;
}

.empty-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
    color: var(--text-color);
}

.orders-search-form {
    position: relative;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 2px;
    box-shadow: inset 2px 2px 4px rgba(132, 126, 112, 0.25);
    
    display: flex;
    align-items: center;
    padding-right: 20px;

    max-width: 500px;
}

.orders-search-input {
    padding: 9px 20px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.orders-search-icon {
    font-size: 22px;
}

.col-cabinet-product .ship-product {
    margin-bottom: 30px;
}

.orders-row {
    margin-top: 30px;
}

.orders-header-flex {
    display: flex;
    grid-column-gap: 30px;
    align-items: center;
}

.table-price {
    grid-column-gap: 2px;
}

.table-price i {
    font-size: 15px;
}

.table-operations {
    width: 100%;
    border-top: 1px solid var(--brown);
    margin-top: -1px;
}

.table-operations td {
    border-bottom: 1px solid var(--brown);
    padding: 10px 0;
    width: 25%;
}

.table-operations td:last-child > div {
    display: flex;
    justify-content: flex-end;
    grid-column-gap: 10px;
}

.operation-details {
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    cursor: pointer;
}

.operation-details .icon-plus {
    color: var(--blue);
    transition: all .2s ease;
}

.operation-details.active .icon-plus {
    transform: rotate(135deg);
}

.receipt-actions {
    display: flex;
    font-size: 18px;
    grid-column-gap: 10px;
}

.discount {
    border: 1px solid var(--brown);
    padding: 25px;
}

.discount-level {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: var(--optima);
    grid-column-gap: 15px;
    margin-bottom: 30px;
}

.discount-level-counter {
    width: 80px;
    height: 80px;
    border: 4px solid var(--blue-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-price {
    font-size: 24px;
}

.discount-info {
    border-right: 1px solid var(--brown);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discount-text-content {
    font-size: 12px;
    padding: 0 30px;
}

.discount-text-content-flex {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount-text-content p:last-child {
    margin-bottom: 0;
}

#user_edit_form {
    max-width: 70%;
}

.operation-product {
    display: flex;
    align-items: flex-start;
    grid-column-gap: 20px;
}

.operation-product-photo {
    flex: 0 0 150px;
    max-width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.operation-product-price {
    white-space: nowrap;
}

.operation-product-info {
    display: flex;
    flex-wrap: wrap;
}

.operation-product-props {
    flex: 0 0 50%;
    max-width: 50%;
}

.operation-row {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.operation-product-info {
    margin-top: .5rem;
}

.operation-product-props:not(:last-child) {
    margin-bottom: 0.5rem;
}

.operation-product-props span:nth-child(2) {
    color: var(--text-color-dark);
}

.operation-product-name {
    color: var(--text-color-dark);
}

.icon-ruble {
    font-size: 88%;
}

.operation-header {
    margin-bottom: 0.5rem;
}

.operation-header span:last-child {
    color: var(--text-color-dark);
}

.operation-details-cell {
    display: none;
}

.operation-receipt {
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-row-gap: 15px;
    align-items: flex-end;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.operation-receipt-print {
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--blue);
    font-size: 12px;
    cursor: pointer;
}

.operation-receipt-print:hover {
    text-decoration: none;
    color: var(--blue);
}

.cart-container {
    display: flex;
    border-bottom: 1px solid var(--brown);
}

.cart-main {
    flex: calc(100% - 500px);
    max-width: calc(100% - 500px);
    border-right: 1px solid var(--brown);
}

.cart-side {
    flex: 0 0 500px;
    max-width: 500px;
    position: relative;
}

.cart-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--brown);
    height: 69px;
}

.cart-main .cart-container-left {
    padding-right: 84px;
}

.cart-container-header h2 {
    margin: 0;
    color: var(--brown);
}

.cart-container-left {
    padding-left: 84px;
}

.cart-container-right {
    padding-right: 84px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.link-uppercase {
    text-transform: uppercase;
    font-size: 12px;
}

.link-uppercase:hover {
    text-decoration: none;
}

.cart-container-inner {
    padding: 20px 0;
}

.table-cart {
    width: 100%;
}

.table-cart td:last-child {
    text-align: right;
}

.cart-item-photo {
    width: 174px;
    height: 174px;
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: var(--accent-white);
}

.cart-item-message {
    display: inline-block;
    padding: 1px 10px;
    background: rgba(165, 188, 195, 0.3);
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.cart-row {
    display: flex;
    flex-wrap: wrap;
}

.cart-col {
    flex: 1;
}

.cart-col-delete {
    flex: 0 0 30px;
    max-width: 30px;

    display: flex;
    justify-content: flex-end;

    font-size: 20px;
}

.cart-item-delete {
    width: 16px;
    height: 16px;
    transform: rotate(135deg);
    cursor: pointer;
    color: var(--brown);
}

.price-discount {
    opacity: 0.5;
    position: relative;
}

.price-discount::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--text-color);
}

.cart-item-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-item-name {
    font-family: var(--optima);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

.cart-item-price p {
    margin-bottom: 5px;
}

.cart-col-photo {
    flex: 0 0 200px;
}

.cart-item-counter {
    display: flex;
    align-items: center;
}

.cart-item-counter-btn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-item-counter-input {
    -moz-appearance: textfield;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    width: 50px;
}

.cart-item-counter-input::-webkit-outer-spin-button,
.cart-item-counter-input::-webkit-inner-spin-button {
    display: none;
}

.cart-item-label {
    color: var(--brown);
}

.cart-item-btn {
    cursor: pointer;
    color: var(--brown);
}

.cart-item-btn i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 24px;
    color: var(--text-color);
}

.cart-row {
    margin-bottom: 3em;
}

.cart-price {
    font-size: 18px;
}

.cart-side-affix {
    position: sticky;
    top: 0;
    bottom: 15px;
}

.cart-total {
    font-size: 24px;
    color: var(--text-color);
}

.cart-total-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total-btn {
    margin: 1rem 0;
}

.cart-total-label {
    color: var(--brown);
}

.cart-user-data .input-field {
    max-width: 80%;
}

.details {
    border-top: 1px solid var(--brown);
}

.cart-guest {
    font-size: 12px;
}

.cart-data-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cart-guest-login {
    margin-bottom: 10px;
}

.cart-ship-block {
    border-right: 1px solid var(--brown);
}

.accordion-block .accordion-title {
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 500;
}

.accordion-block .accordion-head {
    padding-left: 0;
    padding-right: 0;
    background-color: var(--accent);
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--brown);
    
}

.accordion-block .accordion-body {
    background-color: var(--accent);
    padding-left: 0;
    padding-right: 0;
}

.accordion-block .accordion-body {
    border-bottom: 1px solid var(--brown)
}

.payment-message {
    margin-top: 1rem;
    font-size: 12px;
}

.ship-item {
    display: none;
}

.details .checkbox-label {
    font-size: 14px;
    padding: 0;
    line-height: 1.35;
    font-weight: 500;
}

.form-label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-message {
    margin: 1rem 0;
    font-size: 12px;
}

.order-success {
    padding: 220px 0;
    color: var(--text-color-dark);
}

.order-success-title {
    margin-bottom: 2rem;
    font-size: 24px;
    color: var(--text-color-dark);
}

.order-success p {
    color: var(--text-color-dark);
}

.modal-order .modal-dialog {
    max-width: 760px;
}

.modal-message {
    padding: 20px 30px;
    background-color: var(--accent);
}

.modal-backdrop {
    background-color: var(--brown);
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-content {
    background-color: var(--accent);
    border: none;
    border-radius: 0;
}

.modal-auth .modal-dialog {
    max-width: 700px;
}

.modal-head {
    padding: 15px 30px;
    border-bottom: 1px solid var(--brown);
}

.modal-body {
    padding: 15px 30px 30px;
}

.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-head-title {
    font-family: var(--optima);
    text-transform: uppercase;
    font-size: 24px;
}

.modal-head-close {
    color: var(--blue);
    padding: 5px;
    cursor: pointer;
}

.auth-type-item {
    display: inline-block;
    padding-right: 20px;
    margin-right: 15px;
    border-right: 1px solid var(--brown);
    line-height: 1.35;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
}

.auth-type-item.active {
    color: var(--text-color-dark);
}

.auth-type-item:last-child {
    border-right: none;
}

.auth-type {
    margin-bottom: 1rem;
}

.forgot-pass {
    font-size: 12px;
    color: var(--text-color-dark);
}

.brand-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.checkbox-inline {
    display: inline-flex;
    margin-right: 20px;
}

.header-mob {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--accent);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--brown);

    height: 51px;
}

.header-mob-logo img {
    max-width: 219px;
}

.header-mob-logo-link {
    display: block;
}

.header-burger-inner {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.header-burger {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
    height: 15px;
}

.header-burger-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--brown);
}

.header-burger-line:nth-child(2) {
    top: 7px;
}

.header-burger-line:nth-child(3) {
    top: 14px;
}

.header-mob-cart {
    display: block;
    font-size: 24px;
    line-height: 12px;
    text-decoration: none;
    color: inherit;
}

.responsive-display {
    display: none;
}

.header-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 10;

    margin: 0;
    padding: 15px 0 10px;
    list-style-type: none;

    background-color: var(--accent);
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--brown);
}

.header-menu-item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-menu-link {
    color: inherit;
    text-decoration: none;
}

.header-menu-link i {
    font-size: 26px;
}

.header-menu-auth {
    color: var(--blue);
}

/* media */
@media (max-width: 1800px) {
    .header-nav-link {
        font-size: 12px;
    }
}

@media (max-width: 1400px) {
    .header-logo img {
        max-width: 100%;
    }

    .advantage-card {
        padding: 15px;
    }

    .advantage-title {
        margin-left: 0;
        margin-right: 0;
    }

    .product-detail-content {
        padding: 0 15px 15px;
    }

    .product-recommend-inner {
        width: 237px;
        height: 437px;
    }
}

@media (max-width: 1024px) {
    .responsive-display {
        display: block;
    }

    .header:not(.header-page) {
        display: none;
    }

    .advantage-col:not(:last-child) {
        border-right-color: transparent !important;
        border-bottom: 1px solid var(--brown);
    }

    .header-page {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px;
    }

    .row-footer-head,
    .row-footer {
        display: none;
    }

    .advantage-title {
        font-size: 18px;
        white-space: nowrap;
    }

    .home-slider-slide {
        height: 670px;
    }

    .home-slider-block {
        margin-top: 0;
    }

    .home-slider-block .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .slider-card-photo {
        max-width: 90px;
    }

    .slider-card {
        width: 307px;
        padding-top: 90px; 
    }

    .product-card-name {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .product-grid-col:nth-of-type(2n)::before {
       opacity: 0;
    }
}

@media (max-width: 576px) {
    .section-bordered {
        border-width: 0 0 1px 0;
    }

    .header-page h2 {
        font-size: 20px;
    }

    .section-brand .container,
    .section-advantage .container,
    .section-recommend .container {
        padding-left: 0;
        padding-right: 0;
    }

    .row-bordered {
        border-width: 1px 0;
    }

    .product-recommend {
        border: none
    }
}